{{template "base" .}}

{{define "content"}}
<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">About us</h1>
            <p>
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/make-reservation-gq" class="btn btn-success">Make a reservation now</a>
        </div>
    </div>

</div>

{{end}}